body {
    margin: 0;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 350px;
    background-color: #fff;
    padding: 20px;
    border-radius: 20px;
    position: relative;
    flex-wrap: wrap;
    flex-direction: column;
    /* Added Font Family */
    font-family: Arial, Helvetica, sans-serif;
}
  
.title {
    font-size: 28px;
    color: royalblue;
    font-weight: 600;
    letter-spacing: -1px;
    position: relative;
    display: flex;
    align-items: center;
    padding-left: 30px;
}
  
.title::before,.title::after {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    border-radius: 50%;
    left: 0px;
    background-color: royalblue;
}
  
.title::before {
    width: 18px;
    height: 18px;
    background-color: royalblue;
}
  
.title::after {
    width: 18px;
    height: 18px;
    animation: pulse 1s linear infinite;
}
  
.message, .signin {
    color: rgba(88, 87, 87, 0.822);
    font-size: 14px;
}
  
.signin {
    text-align: center;
}
  
.signin a {
    color: royalblue;
}
  
.signin a:hover {
    text-decoration: underline royalblue;
}
  
.flex {
    display: flex;
    width: 100%;
    gap: 6px;
}

/* form label and input */
.form label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

.form label .input {
    width: 100%;
    padding: 20px 10px 20px 10px;
    outline: 0;
    border: 1px solid rgba(105, 105, 105, 0.397);
    border-radius: 10px;
    text-align: left;
}
  
.form label .input + span {
    position: absolute;
    left: 10px;
    top: 15px;
    color: grey;
    font-size: 0.9em;
    cursor: text;
    transition: 0.3s ease;
}
  
.form label .input:placeholder-shown + span {
    top: 20px;
    font-size: 0.9em;
}

.form label .input:valid + span {
    color: green;
}

.form label .input:focus + span,.form label .input:valid + span {
    top: 0px;
    font-size: 0.7em;
    font-weight: 600;
}

/* Radio Button */
#gender-title {
    color: rgb(75, 75, 75);
}

.radio-label {
    display: flex;
    cursor: pointer;
    font-weight: 500;
    position: relative;
    overflow: hidden;
    margin-bottom: 0.375em;
}

.radio-label .radio-input {
    position: absolute;
    left: -9999px;
}

.radio-label .radio-input:checked + .option-span {
  background-color: royalblue;
  color: white;
}

.radio-label .radio-input:checked + .option-span:before {
  box-shadow: inset 0 0 0 0.4375em #00005c;
}

.radio-label .option-span {
  display: flex;
  align-items: center;
  padding: 0.375em 0.75em 0.375em 0.375em;
  border-radius: 99em;
  transition: 0.25s ease;
  color: #414181;
}

.radio-label .option-span:hover {
  background-color: #d6d6e5;
}

.radio-label .option-span:before {
  display: flex;
  flex-shrink: 0;
  content: "";
  background-color: #fff;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  margin-right: 0.375em;
  transition: 0.25s ease;
  box-shadow: inset 0 0 0 0.125em #00005c;
}


/* Submit Button */  
.submit {
    border: none;
    outline: none;
    background-color: royalblue;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
}
  
.submit:hover {
    background-color: rgb(56, 90, 194);
    cursor: pointer;
}
  
@keyframes pulse {
    0% {
        top: 0px;
        transform: scale(0.9);
        opacity: 1;
    }
  
    25% {
        top: 10px;
        left: 0px;
        transform: scale(1.8);
        opacity: 0;
    }

    50% {
        top: 0px;
        left: 10px;
        transform: scale(0.9);
        opacity: 0;
    }

    75% {
        top: -10px;
        left: 0px;
        transform: scale(1.8);
        opacity: 0;
    }

    100% {
        bottom: 0px;
        left: -10px;
        transform: scale(1.8);
        opacity: 0;
    }

}