body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 15px;
    background-color: white;
    color: black;
  }
  
  #input-slot {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #183D3D;
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #5C8374;
  }

  div{
    padding: 10px;
  }

  hr {
    clear: both;
  }

  #intro-guide {
    float: left;
    width: 48%;
    background-color: #176B87;
    border-radius: 15px;

  }

  #intro-function {
    float: right;
    width: 48%;
    background-color: #64CCC5;
    border-radius: 15px;
  }

  #upload-section {
    clear: both;
  }

  canvas {
    width: 90%;
    height: 30vw;
  }
