* {
	margin: 0;
	padding: 0;
	font-family: "Kumbh Sans", sans-serif;
}

.container{
	width: 80%;
}

.contact-box {
	margin: 50px auto;
	width: 80%;
	background: #fff;
	display: flex;
}

.contact-left{
	flex-basis: 60%;
	padding: 40px 60px;
}

.contact-right {
	flex-basis: 40%;
	padding: 40px;
	background:  #ff7d1a;
	color: #fff;
}

h1{
	margin-bottom: 10px;

}

.container p{
	margin-bottom: 40px;
}

.input-row{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;

}
.input-row .input-group{
	flex-basis: 45%;
}
input{
	width: 100%;
	border: none;
	border-bottom: 1px solid #ccc;
	outline: none;
	padding-bottom: 5px;
}

textarea{
	width: 100%;
	border: 1px solid #ccc;
	padding: 10px;
	box-sizing:border-box;
}

label{
	margin-bottom: 6px;
	display: block;
	color: #9b541d;
}

.contact-btn{
	background:  #ff7d1a;
	width: 100px;
	border: none;
	outline: none;
	color: #fff;
	height: 35px;
	border-radius: 30px;
	margin-top:20px;
	box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.2);
}

.contact-left h3{
	color:  #ff7d1a;
	font-weight: 600;
	margin-bottom: 30px;
}


.contact-right h3{

	font-weight: 600;
	margin-bottom: 30px;
}

tr td:first-child{
	padding-right: 20px;
}


tr td{
	padding-top: 20px;
}

.contact-nav {
	display: flex;
	justify-content: center;
	align-items: center;
}

.contact-nav ul li {
	display: inline-block;
	list-style: none;
	margin: 10px 20px;
}

.contact-nav ul li a {
	color:  #ff7d1a;
	text-decoration: none;
	font-size: 18px;
	position: relative;
}

.contact-nav ul li a::after {
	content: '';
	width: 0;
	height: 3px;
	background:  #ff7d1a;
	position: absolute;
	left: 0;
	bottom: -6px;
	transition: 0.5s;
		}

.contact-nav ul li a:hover::after {
	width: 100%;
}





