*,
*:before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 400;
    color: #68707d;
}

a {
    text-decoration: none;
}

button,
.button {
    border: none;
    background: none;
    font-size: 16px;
    font-family: inherit;
    font-weight: inherit;
    cursor: pointer;
    border-radius: 6px;
    transition: 0.2s linear;
}

button:focus-visible,
.button:focus-visible {
    outline: 1px dashed #68707d;
}

button:hover,
.button:hover {
    opacity: 0.7;
}

/* header containter */
header {
    position: sticky;
    top: 0;
    z-index: 100;
    height: 150px;
    background-color: white;
}

.container {
    padding-right: 24px;
    padding-left: 24px;
}

@media (min-width: 64em) {
    .container {
        max-width: 1110px;
        margin: 0 auto;
    }
}

.flex,
.left-nav,
.right-nav {
    display: flex;
}

.flex-ai-c {
    align-items: center;
}

.flex-jc-sb {
    justify-content: space-between;
}

.flex-jc-c {
    justify-content: center;
}

@media (max-width: 63.9375em) {
    .hide-for-mobile {
        display: none !important;
    }
}

@media (min-width: 64em) {
    .hide-for-desktop {
        display: none;
    }
}

.header nav {
    position: relative;
    padding: 25px 0;
}

@media (min-width: 40em) {
    .header nav {
        border-bottom: 1px solid #b6bcc8;
    }
}

@media (min-width: 64em) {
    .header nav {
        padding: 45px 0;
    }
}

.header .toggle-menu {
    margin-right: 15px;
    cursor: pointer;
}

@media (min-width: 64em) {
    .header .main-navgation {
        align-self: flex-start;
        margin-left: 50px;
    }

    .header .main-navgation a {
        position: relative;
        font-size: 14px;
        color: #68707d;
        margin-right: 33px;
        transition: 0.2s linear;
    }

    .header .main-navgation a:hover {
        color: #1d2025;
    }

    .header .main-navgation a::after {
        position: absolute;
        content: "";
        left: 0;
        bottom: -20px;
        width: 100%;
        height: 5px;
        opacity: 0;
        background-color: #ff7d1a;
        transition: 0.2s linear;
    }

    .header .main-navgation a:hover::after {
        opacity: 1;
    }
}

.header .mobile-navgation {
    position: fixed;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    height: 100%;
    width: 250px;
    z-index: 10;
    padding: 25px;
    background-color: white;
    transition: transform 0.2s linear;
}

.header .mobile-navgation.open {
    transform: translateX(0);
}

@media (min-width: 40em) {
    .header .mobile-navgation {
        width: 350px;
    }
}

.header .mobile-navgation .close-menu {
    display: block;
    margin-bottom: 55px;
    cursor: pointer;
}

.header .mobile-navgation a {
    display: block;
    color: #1d2025;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 18px;
    transition: 0.2s linear;
}

.header .mobile-navgation a:hover {
    padding-left: 10px;
    color: #68707d;
}

.header .controls {
    gap: 22px;
}

@media (min-width: 64em) {
    .header .controls {
        gap: 40px;
    }
}

.cart.open .cart-list-wrapper {
    top: calc(100% + 10px);
    opacity: 1;
    visibility: visible;
}

@media (min-width: 40em) {
    .cart.open .cart-list-wrapper {
        top: calc(100% + -15px);
    }
}

@media (min-width: 64em) {
    .cart.open .cart-list-wrapper {
        top: calc(100% + -30px);
    }
}

.cart.show-count .cart-icon .in-cart {
    opacity: 1;
    visibility: visible;
}

.cart.empty .cart-content {
    height: 185px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 17px;
}

.cart .cart-icon {
    position: relative;
    cursor: pointer;
}

.cart .cart-icon .in-cart {
    position: absolute;
    top: -7px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 20px;
    height: 15px;
    color: white;
    font-size: 14px;
    text-align: center;
    border-radius: 25px;
    background-color: #ff7d1a;
    opacity: 0;
    visibility: hidden;
    transition: 0.2s linear, visibility 0.3s linear;
}

.cart .cart-icon svg path {
    transition: 0.2s linear;
}

.cart .cart-icon:hover path {
    fill: #1d2025;
}

.cart .cart-list-wrapper {
    position: absolute;
    top: calc(100% + 20px);
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 20px);
    opacity: 0;
    visibility: hidden;
    z-index: 8;
    background-color: white;
    border-radius: 6px;
    box-shadow: 2px 5px 15px rgba(0, 0, 0, 0.2);
    transition: 0.2s linear, visibility 0.3s linear;
}

@media (min-width: 40em) {
    .cart .cart-list-wrapper {
        top: 100%;
        width: 360px;
        right: 0;
        left: initial;
        transform: initial;
    }
}

@media (min-width: 64em) {
    .cart .cart-list-wrapper {
        top: calc(100% + -15px);
    }
}

.cart .cart-list-wrapper .cart-heading {
    color: #1d2025;
    padding: 25px;
    border-bottom: 1px solid #b6bcc8;
}

.cart .cart-list-wrapper .cart-content {
    padding: 25px 25px 30px 25px;
}

.cart-content .cart-list .cart-item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.cart-content .checkout-btn {
    width: 100%;
    color: white;
    padding: 15px 20px;
    background-color: #ff7d1a;
}

.cart-list .cart-item {
    margin-bottom: 25px;
}

.cart-list .cart-item .item-image {
    flex: 0 0 50px;
    overflow: hidden;
    border-radius: 6px;
}

.cart-list .cart-item .item-info {
    flex: auto;
    color: #68707d;
}

.cart-list .cart-item .item-title {
    font-weight: 400;
    margin-bottom: 5px;
}

.cart-list .cart-item .item-price-wrapper {
    display: flex;
}

.cart-list .cart-item .item-price-wrapper .item-count {
    margin: 0 10px 0 5px;
}

.cart-list .cart-item .item-price-wrapper .total-price {
    font-weight: bold;
    font-size: 18px;
    color: #1d2025;
}

.cart-list .cart-item .item-delete {
    transition: 0.2s linear;
}

.cart-list .cart-item .item-delete:hover {
    cursor: pointer;
    transform: scale(1.08);
}

.cart-list .cart-item .item-delete:hover img {
    filter: invert(17%) sepia(55%) saturate(7234%) hue-rotate(341deg) brightness(88%) contrast(95%);
}

/* action-btn*/
.header .action-btn {
    align-self: flex-start;
    margin-left: 50px;
}

.header .action-btn a {
    position: relative;
    font-size: 14px;
    color: #68707d;
    margin-right: 33px;
    transition: 0.2s linear;
}

.header .action-btn a:hover {
    color: #1d2025;
}

.header .action-btn a::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -20px;
    width: 100%;
    height: 5px;
    opacity: 0;
    background-color: #ff7d1a;
    transition: 0.2s linear;
}

.header .action-btn a:hover::after {
    opacity: 1;
}

/* Slide Show Style */
.promotion-banner {
    width: 80vw;
    position: relative;
    align-content: center;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
}

.slides {
    width: 75vw;
    margin: auto;
}

.slides>img {
    width: 75vw;
    aspect-ratio: initial;
    border-radius: 30px;
    margin: auto;
}

.slides {
    display: flex;
}

@media(min-width: 64em) {
    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        margin-top: -3vh;
        padding: 16px;
        color: #ff7d1a;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 30px 30px;
        user-select: none;
    }

    .next {
        right: 0;
    }

    .prev:hover,
    .next:hover {
        background-color: rgba(255, 153, 75, 0.3)
    }
}


/* Slide Show dots */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #ff7d1a;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: rgba(255, 210, 75, 0.9);
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* Utility bar */
.utility-bar {
    position: sticky;
    top: 150px;
    z-index: 50;
    height: 5vh;
    padding: 1vh 1vw;
    background-color: #ff7d1a;
    display: flex;
    align-content: center;
    align-items: center;
}

.utility-bar>input {
    max-height: 1rem;
}

.content-container {
    width: 90%;
    margin: auto;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
    padding: 2vh 2vw;
}

.product-container {
    display: flex;
    flex-direction: column;
    background-color: #ffc61a;
    align-items: center;
    flex-basis: 15vw;
    min-width: 250px;
    border-radius: 20px;
}

.product-container:hover {
    box-shadow: 0px 0px 3px 2px #fab986;
}

.product-container:hover>a>img {
    box-shadow: 0px 0px 5px 2px white;
}

.product-container>a {
    font-weight: 400;
    color: black;
}

.product-container>a>img {
    margin: 5px 5px;
    border-radius: 20px;
    width: 200px;
    height: 200px;
}

.product-container>a>p {
    font-size: 1rem;
    font-weight: bold;
}